<!DOCTYPE html>
<html>
	<head>
		<title>BTC/ETH/LTC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/main.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/static/js/plotly-latest.min.js"></script>
	</head>
	<body style="font-size:14px;height:100vh;">
		{% block content %}{% endblock %}
		

	</body>

</html>