{% extends "base.html" %}
{% block content %}
<input type="checkbox" id="night_mode"/>
<table>
  <tr>
    <th></th>
    <th>Price</th>
    <th>Cap</th>
    <th>1h trend</th>
    <th>24h trend</th>
    <th>7d trend</th>
    <th>Amt Owned</th>
    <th>ETH</th>
    <th>Bought @ (ETH)</th>
    <th>USD</th>
    <th>Bought @ (USD)</th>
    <th>Sold @ (USD)</th>
    <th>Profit</th>
  </tr>
  {% for row in coin_rows %}
  <tr id="{{row.id}}">
    <td class="title"><a href="https://coinmarketcap.com/currencies/{{row.full}}/">{{row.id}}</a></td>
    <td class="price">$0</td>
    <td class="cap">$0</td>
    <td class="1h">0%</td>
    <td class="24h">0%</td>
    <td class="7d">0%</td>
    <td class="owned">{{row.amt}}</td>
    <td class="profit">$0</td>
    <td class="bought">$0</td>
    <td class="usd_profit">$0</td>
    <td class="usd_bought">$0</td>
    <td class="usd_sold">$0</td>
    <td class="total_profit">$0</td>
  </tr>
  

  {% endfor %}
  <tr>
    <td colspan="9"></td>
    <td id="my_total">$0</td>
    <td id="my_bought">$0</td>
    <td id="my_sold">$0</td>
    <td id="my_profit">$0</td>
  </tr>
</table>
<script>
  var coins = [];
  var owned = {};
  var bought = {};
  var sold = {};
  var night_mode = false;
</script>
{% for coin in coin_rows %}
<script>
  coins.push("{{coin.id}}");
  owned["{{coin.id}}"] = {{coin.amt}};
  bought["{{coin.id}}"] = {{coin.bought}}.toFixed(8);
  sold["{{coin.id}}"] = {{coin.sold}}.toFixed(8);
</script>
{% endfor %}
<script src="/static/js/main.js"></script>
{% endblock %}

